html, body {
    overflow-x: hidden;
}


* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    background-color: #03002C;
}

.main {
    /* height: 100vh; */
    width: 100vw;
    background-color: #03002C;
    overflow: hidden;
}

.home {
    position: absolute;
    left: 40px;
    top: 0px;

    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    color: #FFFFFF;
    text-decoration: none;
}

.home:hover {
    text-decoration: underline;
}

.home:visited {
    color: white;
    text-decoration: none;
}

.main-header {
    height: 116px;
    width: 100%;
}

.main-header--text {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.main-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#section1.body-section {
    width: 25%;
}

#section2.body-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* height: calc(100vh - 116px); */
    width: 50%;
}

.body-section--content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.body-section--content-container > * {
    margin-bottom: 25px;
}

.body-links {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    color: #FFFFFF;
    text-decoration: none;
}

.body-links:hover {
    text-decoration: underline;
}

.body-section--image {
    width: 100%;
}

.body-section--paragraph {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    color: #FFFFFF;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    margin-bottom: 25px;
}

.rtl {
    text-align: right;
    direction: rtl;
}